a {
  color: #ff7d00;
}
a {
  color: #ff9733;
}
img {
  border: 0;
}
ul, li {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.clear_left {
  clear: left;
}
body {
  padding: 0;
  margin: 0;
  background: #777777 url('/images/core/bg.jpg') repeat;
  background-attachment: fixed;
  font-family: arial;
}

.ui-page,
#content {
  background: #777777 url('/images/core/bg.jpg') repeat;
  font-family: arial;
}

.post-delete-container { display: none; position: absolute; top:0px; left: 0px;}
.post-delete-container { display: none; position: absolute; top:0px; left: 0px;}

.post-menu-container { display: none; position: absolute; top:0px; left: 0px;}


/* login */
#login #content {
    margin: 20px;
}
/* POSTS */

ul#posts {
    padding: 0 18px;
    background-color: #4F4F4F;
    background-color: rgba(70, 70, 70, 0.35);
    color: white;
    box-shadow: 0 0 8px #151515;
    -moz-box-shadow: 0 0 8px #151515;
    -webkit-box-shadow: 0 0 8px #151515;
    margin: 0 9px;
}

ul#posts li,  ul#posts li {
  position: relative;
  margin: 0 -18px;
  padding: 9px 18px;
  line-height: 20px;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #424242;
  font-size: 13px;
  color: #dddddd;
}

ul#posts li a {
  text-decoration: none;
}
ul#posts li h3 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 5px 0;
  width: 90%;
}
ul#posts li .post_avatar,  ul#posts li .post_avatar {
  float: left;
  margin-left: -15px;
  margin-right: 5px;
}
/*
ul#posts li .post_avatar img,  ul#posts li .post_avatar img {
  width: 48px;
}
*/
ul#posts li .comment-count,
ul#posts li .date {
  padding-top: 10px;
  color: #ffffff;
  font-size: 11px;
}
ul#posts li .date a.remove_post {
  color: #ddd;
  color: #ff7d00;
  text-decoration: underline;
}
ul#posts li .comment-count.notification { 
    display: none;
}

ul#posts li .comment-count { 
    float: right;
    clear: right;
}
ul#posts li .date { 
    float: left;
    clear: left;
}
ul#posts li .new-comment-count { 
   display: inline-block;
   display: none; /* Remove this when we're ready to display them. */
   position: absolute;
   top: 47px;
   left: -7px;
   width: 23px;
   text-align :center;
   color: #ffffff; 
   font-size: 90%; 
   text-shadow: none; 
   font-weight: bold; 
   font-family: arial; 
   -moz-box-shadow: 0 1px 2px #999;  
   -webkit-box-shadow: 0 1px 2px #999; 
   box-shadow: 0 1px 2px #999; 
   padding: 3px 0;
   border: 0.15em solid #ffffff; 
   border-radius: 14px; 
   -moz-border-radius: 14px; 
   -webkit-border-radius: 14px; 
   /* background-color: #72b0d4;  */
   background-color: red;
   line-height: 16px; 
   background-position: 0 0 !important; 
   margin-right: 38%; 
   margin-top: -18px;
   background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,#FF3030),color-stop(1,#890000));
   background-image: -webkit-linear-gradient(top, #FF3030, #890000);
   background-image: linear-gradient(top, #FF3030, #890000);
   background-image: -moz-linear-gradient(top, #FF3030, #890000);
   background-image: -o-linear-gradient(top, #FF3030, #890000);
   background-image: -ms-linear-gradient(top, #FF3030, #890000);
}
ul#posts li .points {
    position: absolute;
    top: -1px;
    right: 28px;
    width: 70px;
    height: 23px;
    padding-top: 3px;
    background: transparent url("/images/points_ribbon_bg_hov.png") no-repeat top left;
    text-align: center;
}
ul#posts li .points h3 {
  margin-bottom: -3px;
}
ul#posts li .points .vote_up,
ul#posts li .points .vote_down {
  position: absolute;
  left: 63px;
  height: 18px;
  width: 25px;
  border: 1px solid #616e4c;
  /*background-color: #8da26d; */
  background-color: #a1b484;
  padding: 6px;
  box-shadow: 0 3px 3px #333333;
  -moz-box-shadow: 0 3px 3px #333333;
  -webkit-box-shadow: 0 3px 3px #333333;
  z-index: 1;
}
ul#posts li .points .vote_up, {
  top: -5px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
ul#posts li .points .vote_down {
  top: 26px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul#posts li .images {
  background: #d67411 url("/images/bg_images.jpg") no-repeat;
  padding-top: 37px;
  overflow: hidden;
  padding-bottom: 18px;
  margin: 18px -9px 0;
}
ul#posts li .images div.image {
  float: left;
  margin-left: 12px;
  margin-bottom: 12px;
  height: 125px;
  width: 141px;
  overflow: hidden;
}
ul#posts li .images div.image img {
  min-width: 141px;
  min-height: 141px;
}
ul#posts li .images div.video {
  float: left;
  margin-left: 12px;
  margin-bottom: 12px;
  width: 598px;
  height: 336px;
  overflow: hidden;
}
