    <div data-role="content">
        <a href="#profile/${player}" class="profile comment avatar">
            <img src="http://evilego.com/avatars/${player}_icon.png">
        </a>

        <a href="#profile" class="profile">${player}</a>

        <div class="content">${comment}</div>

        <div class="date">posted ${prettyDate}</div>

        <div class="post-delete-container">
            <a href="#" data-role="button" data-icon="delete" class="post-delete-comment" >Delete</a>
        </div>
        <br style="clear: both" />
    </div>
