    <div data-role="content">
        <a href="#profile/${player}" class="profile comment avatar">
            <img src="http://evilego.com/avatars/${player}_icon.png">
        </a>

        <a href="#profile" class="profile">${player}</a>

        <div class="content">${comment}</div>

        <div class="date">posted ${prettyDate}</div>

    {{if canDelete}}
        <div class="comment-delete-container">
            <div style='position: relative'>
                <a href="#" data-role="button" data-icon="delete" data-inline="true" class="comment-delete" >Delete</a>
            </div>
        </div>
    {{/if}}

        <br style="clear: both" />
    </div>
