<div id="content" data-role="content">
    <form action="#addPost" method="post" id="post_form" class="wall_post">
        <input type="hidden" name="player" value="${owner}">

        <label for="title" for="title">Title</label>
        <input type="text" name="title" class="title_input" placeholder="What is this about?" />

        <textarea name="post" placeholder="Tell your story..."></textarea>

        <a href="#" data-role="button" data-icon="plus" data-inline="true" id="add-image-button">Add Image</a>
        <a href="#" data-role="button" data-icon="check" data-inline="true" data-theme="b" id="save-post">Save Post</a>
        {{if missions.length>0}}
        <!-- Challenge-->
        <select name="challenge_id" style="display: none" id="challenge">
            <option value=""> - Choose Mission -</option>
            {{if missions.length}}
            {{each missions}}
            <option value="${$value._id}">${$value.title}</option>
            {{/each}}
            {{/if}}
        </select>
        </div>
        {{/if}}

        <div id="uploaded_images"> </div>

        <br style="clear: both">
    </form>
</div>
