<div id="content" data-role="content">
    <form action="#addPost" method="post" id="post_form" class="wall_post">
        <input type="hidden" name="player" value="${owner}">

        <label for="title" for="title">Title</label>
        <input type="text" name="title" class="title_input">

        <textarea name="post" placeholder="Tell your story..."></textarea>

        <div id="uploaded_images">
        </div>

        <div class="media_icon">
            <img src="http://evilego.com/images/core/loading_sm_icon.gif" style="display: none" id="image_upload_loading">
            <a href="#" id="upload_image">
                <img src="http://evilego.com/images/core/icon_camera.png">
            </a>
        </div>

        <!--
        <div id="uploaded_videos">
        </div>
        <div class="media_icon">
            <a href="#" id="upload_video">
                <img src="/images/core/icon_video.png">
        </a>
        </div>
        -->
        <!-- Challenge-->
        {{if missions.length>0}}
        <div style="float: left">
            <a href="#" id="choose_mission">
                <img src="http://evilego.com/images/core/icon_mission.png">
        </a>
        <select name="challenge_id" style="display: none" id="challenge">
            <option value=""> - Choose Mission -</option>
            {{if missions.length}}
            {{each missions}}
            <option value="${$value._id}">${$value.title}</option>
            {{/each}}
            {{/if}}
        </select>
        </div>
        {{/if}}
        <br style="clear: both">
        <!-- Video Stuff
        <input type="hidden" name="video_url" value="" id="video_url">
        <input type="hidden" name="video_th_url" value="" id="video_th_url">
        -->
        <!-- Submit-->
        <a href="#" id="post_submit" class="btn">
            <img src="http://evilego.com/images/profile/btn_add_post.png">
        </a>
    </form>
</div>
