{{if newComments }}
    <div class="new-comment-count ${type}">${newComments}</div>
{{/if}}
    {{if canVote }}
        <div class="points">
            <span class="pointValue">${points}</span> points

            <!-- VOTE-->
            <!-- VOTE UP-->
            <a href="#" class="vote_up">
                <img src="images/core/icon_vote_up.png">
            </a>

            <!-- VOTE DOWN-->
            <a href="#" class="vote_down">
                <img src="images/core/icon_vote_down.png">
            </a>
        </div>
    {{/if}}

    <!-- AVATAR -->
    <a href="#" class="post_avatar show_mini">
        <img src="http://evilego.com/avatars/${owner}_icon.png">
    </a>
    
    <!-- TITLE-->
    <!-- a href="#profile/${owner}">${owner}</a -->
    <a href="#">${owner}</a>
    <h3>
        ${title}
    </h3>
    
    <!-- BODY -->
    <div class="post-body">
        {{html post}}
    </div>
    
    {{if canDelete}}
        <div class="post-delete-container">
            <div style='position: relative'>
                <a href="#" data-role="button" data-icon="delete" data-inline="true" class="post-delete" >Delete</a>
            </div>
        </div>
    {{/if}}

    <div class="post-menu-container">
        <a href="#new-comment" data-role="button" data-icon="plus" data-inline="true" class="post-reply" >Reply</a>
        {{if comments > 0}}
        <a href="#" data-role="button" data-icon="arrow-r" data-inline="true" class="post-view-comments" >Comments</a>
        {{/if}}
    </div>
    
    <!-- POST FOOTER-->
    <div class="comment-count ${type}">
        {{if comments > 0}}
        <a href="#comments" class="post-view-comments">
            ${comments} comments
        </a>
        {{else}}
        <a href="#newComment" class="post-reply">
            0 comments
        </a>
        {{/if}}
    </div>
    <div class="date">
        <!-- DATE-->
        posted ${prettyDate} &nbsp;
    </div>
    <br style="clear:both" />
    <!-- IMAGES & VIDEO-->
    {{if hasImage || hasVideo}}
        <div class="images">
            {{if hasImage}}
                {{each images}}
                    <div class="image">
                        <!-- <a href="http://evilego.com/uploads/${$value}" class="view_image"> -->
                        <a href="#photo/${$value}" class="view_image">
                            <img src="http://evilego.com/uploads/th_${$value}">
                        </a>
                    </div>
                {{/each}}
            {{/if}}
            {{if hasVideo}}
                <div class="video">
                    <video style="max-width: 230px;" autobuffer ontap="this.play()" onclick="this.play()">
                        <source src="${video.mobile_video_url}" />
                    </video>
                </div>
            {{/if}}
        </div>
    {{/if}}
    
